.env
.idea

# source
lib
sample
tests
index.ts
package-lock.json
yarn.lock
tsconfig.json
.eslintrc.js
.prettierrc
.release-it.json
.commitlintrc.json

# tdlib
tdjson.dll
zlib1.dll
libcrypto-1_1-x64.dll
libssl-1_1-x64.dll
db

# github
.github
CONTRIBUTING.md
renovate.json

# ci
.circleci
